extends template

block head
  title LymUI - Blog Post.
block body
  header
    .container
      h1 Elements
      p A page to display all different elements of UI
  .container
    .page-header
      h2 Progress bars
    .row
      .col-md-6
        .progress
          .progress-bar(style='width: 60%;')
      .col-md-6
        .progress
          .progress-bar.progress-bar-secondary(style='width: 90%;')
    .row
      .col-md-6
        .progress
          .progress-bar.progress-bar-striped.active(style='width: 80%;')
      .col-md-6
        .progress
          .progress-bar(style='width: 30%;')
          .progress-bar.progress-bar-secondary(style='width: 40%;')
    .page-header
      h2 Loaders
    .row
      .col-xs-6
        .loader-dots
      .col-xs-6
        .loader-dots-sec
    .page-header
      h2 Buttons
    .row
      .col-md-3.col-xs-6
        button.btn.btn-default Button
      .col-md-3.col-xs-6
        button.btn.btn-primary Button
      .col-md-3.col-xs-6
        button.btn.btn-secondary Button
      .col-md-3.col-xs-6
        button.btn.btn-inverse Button
    hr
    .row
      .col-md-6
        button.btn.btn-primary.btn-block.disabled Button
      .col-md-6
        button.btn.btn-secondary.btn-block.active Button
