extends template

block head
  title LymUI - Blog Post.
block body
  .jumbotron
    .container
      h1 Elements
      p A page to display all different elements of UI
  .container
    .page-header
      h2 Loaders
    .row
      .col-md-2
        .loader-pulse.line
      .col-md-2
        .loader-pulse.line.sec
      .col-md-2
        .loader-pulse.full
      .col-md-2
        .loader-pulse.full.sec
      .col-md-2
        .loader-pulse.line.small
      .col-md-2
        .loader-pulse.full.sec.small