extends template

block head
  title LymUI - Forum Index.
block body
  header
    .container
      h1 Forums
      p Welcome to our community
  .container
    .forum-list
      +topic
      +topic
      +topic
      +topic
      +topic
      +topic
      +topic
      +topic
      +topic
      +topic
    ul.pager
      li.previous.disabled
        a(href='#') Older
      li.next
        a(href='#') Newer


mixin topic
  .topic.panel.panel-default
    .panel-body
      .row
        .col-xs-8
          .pull-left
            .topic-title
              a(href='forum-post.html') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .topic-meta By 
              a(href='#') Leon Koole 
              span.label.label-default
                i.fa.fa-clock-o
                |  13d
        .col-xs-4
          .pull-right
            .topic-replied 
              a(href='#') John Doe 
              | posted 
              a.label.label-default
                i.fa.fa-clock-o
                |  12h
            .topic-stats.pull-right
              i.fa.fa-eye
              | 11 
              i.fa.fa-comments-o
              | 139