extends template

block head
  title LymUI - Forum Post.
block body
  .jumbotron
    .container
      h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      p Created 8 August 2014 in Sample Category
  .container
    ul.pager
      li.previous
        a(href='#') Older
      li.next
        a(href='#') Newer