extends template

block head
  title LymUI - The next evolution in frameworks.
block body
  .jumbotron.jbt-huge.text-center.pattern
    .container
      h1 The next evolution in frameworks
      p That may be a bit of an overstatement, but it sure sounds catchy
      p
        a(href='http://github.com/LymXX/UI').btn.btn-primary View on Github
  .container
      .row
        .col-md-4
          h3 Built on Bootstrap
          p lymUI is being built from the source of Bootstrap. This makes it easy to learn and fast to use.
        .col-md-4
          h3 Clean
          p Aiming for a simple look, lymUI removes all unnecessary styles from Bootstrap.
        .col-md-4
          h3 Time saving
          p lymUI comes with many prebuilt webpages coded in Jade, saving you work.
      .row
        .col-md-12
          h3 Prebuilt pages
      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              h3.panel-title
                a(href='#') Blog Index
             .panel-body
               | Blog index page showing posts.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Blog Index - Image
             .panel-body
               | Blog index page showing posts.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='blog-post.html') Blog Post
             .panel-body
               | An example post of a blog.
               br
               span.label.label-primary Work In Progress
       .row
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='blog-post_image.html') Blog Post - Image
             .panel-body
               | An example post of a blog.
               br
               span.label.label-primary Work In Progress
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Contact Page
             .panel-body
               | Page with contact form.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Team Page
             .panel-body
               | Page showing team members.
               br
               span.label.label-default Not Started
       .row
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Blog Post - Image
             .panel-body
               | An example post of a blog.
               br
               span.label.label-default Not Started
          .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Forum Index
             .panel-body
               | An example post of a blog.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Forum Post
             .panel-body
               | Page with contact form.
               br
               span.label.label-default Not Started
       .row
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Forum Post - Image
             .panel-body
               | Page showing team members.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Shop Index
             .panel-body
               | Homepage of a webshop.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Shop Products
             .panel-body
               | Page showing multiple products.
               br
               span.label.label-default Not Started
       .row
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Shop Product
             .panel-body
               | Page to show a single product.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Gallery
             .panel-body
               | Image gallery / Portfolio.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Search Results
             .panel-body
               | Page displaying search results.
               br
               span.label.label-default Not Started
       .row
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Error pages
             .panel-body
               | Page to show a single product.
               br
               span.label.label-primary Work In Progress
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Profile Page
             .panel-body
               | Page showing a users profile.
               br
               span.label.label-default Not Started
         .col-md-4
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 a(href='#') Coming soon...
             .panel-body
               | There will be more.
               br
               span.label.label-default Not Started
