extends template

block head
  title LymUI - The next evolution in frameworks.
block body
  header.jbt-huge.text-center.gray-bg
    .container
      .text-huge.home-logo UI
        .smile
      h1 Bla bla. Bla bla blabla. Bla bla-bla.
      p A free frontend framework and template based on Bootstrap.
      p
        a(href='http://github.com/LymXX/UI').btn.btn-primary View on Github
  .container
    .row
      .col-md-4
        h3 Built on Bootstrap
        p lymUI is being built from the source of Bootstrap. This makes it easy to learn and fast to use. Maybe it will even have its own documentation.
      .col-md-4
        h3 Looking good
        p Aiming for a simple look, lymUI removes all unnecessary styles from Bootstrap and replaces many with some good looking new elements.
      .col-md-4
        h3 Time saving
        p lymUI comes with many prebuilt webpages coded in Jade (also preprocessed to HTML), saving you time and work.
    .row
      .col-md-12
        h3 Prebuilt pages
    .row
      .col-md-4.col-sm-6
        .home-box.home-box-active.text-center
          i.fa.fa-pencil
          p Magazine
        .list-group.home-box-list
          a.list-group-item(href='blog-index.html') Magazine Index
          a.list-group-item(href='blog-post.html') Article
          a.list-group-item(href='blog-post_image.html') Article - Image
          a.list-group-item(href='') Archieve
            span.badge X
      .col-md-4.col-sm-6
        .home-box.home-box-active.text-center
          i.fa.fa-group
          p Community
        .list-group.home-box-list
          a.list-group-item(href='forum-index.html') Forum Index 
          a.list-group-item(href='') Forum Post
            span.badge X
          a.list-group-item(href='') Forum Post - Image
            span.badge X
          a.list-group-item(href='') Profile Page
            span.badge X
          a.list-group-item(href='') Team Page
            span.badge X
      .col-md-4.col-sm-6
        .home-box.text-center
          i.fa.fa-shopping-cart
          p Shop
        .list-group.home-box-list
          a.list-group-item(href='') Shop Index
            span.badge X
          a.list-group-item(href='') Products List
            span.badge X
          a.list-group-item(href='') Single Product
            span.badge X
          a.list-group-item(href='') Basket
            span.badge X
          a.list-group-item(href='') Search Results
            span.badge X
      .col-md-4.col-sm-6
        .home-box.text-center
          i.fa.fa-camera
          p Photography
        .list-group.home-box-list
          a.list-group-item(href='') Photo Index
            span.badge X
          a.list-group-item(href='') Album
            span.badge X
          a.list-group-item(href='') Single Picture
            span.badge X
          a.list-group-item(href='') Archieve
            span.badge X
      .col-md-4.col-sm-6
        .home-box.active.text-center
          i.fa.fa-list
          p Misc
        .list-group.home-box-list
          a.list-group-item(href='404.html') Error page
          a.list-group-item(href='') Email template
            span.badge X
          a.list-group-item(href='elements.html') Elements
          a.list-group-item(href='contact.html') Contact