extends template

block head
  title LymUI - The Best Template.
block body
  .jumbotron.jbt-huge.text-center
    .container
      h1 The next evolution in frameworks
      p That may be a bit of an overstatement, but it sounds catchy
      p
        a(href='http://github.com/LymXX/UI').btn.btn-primary View on Github
  .container
      .row
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Blog Index
              .panel-body
                | Blog index page showing posts.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Blog Index - Image
              .panel-body
                | Blog index page showing posts.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Blog Post
              .panel-body
                | An example post of a blog.
                br
                small Work In Progress
        .row
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Blog Post - Image
              .panel-body
                | An example post of a blog.
                br
                small Work In Progress
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Contact Page
              .panel-body
                | Page with contact form.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Team Page
              .panel-body
                | Page showing team members.
                br
                small Not Started
        .row
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Blog Post - Image
              .panel-body
                | An example post of a blog.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Forum Index
              .panel-body
                | An example post of a blog.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Forum Post
              .panel-body
                | Page with contact form.
                br
                small Not Started
        .row
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Forum Post - Image
              .panel-body
                | Page showing team members.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Shop Index
              .panel-body
                | Homepage of a webshop.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Shop Products
              .panel-body
                | Page showing multiple products.
                br
                small Not Started
        .row
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Shop Product
              .panel-body
                | Page to show a single product.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Gallery
              .panel-body
                | Image gallery / Portfolio.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Search Results
              .panel-body
                | Page displaying search results.
                br
                small Not Started
        .row
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Error pages
              .panel-body
                | Page to show a single product.
                br
                small Work In Progress
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Coming soon...
              .panel-body
                | There will be more.
                br
                small Not Started
          .col-1.col-sm-4.col-lg-4
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  a(href='#') Coming soon...
              .panel-body
                | There will be more.
                br
                small Not Started

