extends template

block head
  title LymUI - Magazine Index.
block body
  header.image(style='background-image: url(img/header-bg-4.jpg);')
    .container
      h1 Lym.io Magazine
      p Vivamus sem ipsum, interdum sed est sit amet, egestas accumsan nisi.
  .container
    .row
      .col-md-6
        figure.magazine-fig
          img(src='img/header-bg-2.jpg')
          figcaption
            h2 Nullam laoreet libero. 
            p In International News
            a(href='#')
        .panel.panel-default
          .panel-body-small by 
              a(href='#') John Doe
              .pull-right 12 
                i.fa.fa-comment
                |   302 
                i.fa.fa-heart
      .col-md-6
        figure.magazine-fig
          img(src='img/header-bg-1.jpg')
          figcaption
            h2 Vel elit curabitur cras lobortis sociosqu sociis ut magna
            p In International News
            a(href='#')
        .panel.panel-default
          .panel-body-small by 
              a(href='#') John Doe
              .pull-right 12 
                i.fa.fa-comment
                |   302 
                i.fa.fa-heart
    .row 
      .col-md-4
        figure.magazine-fig.magazine-fig-small
          img(src='img/header-bg-3.jpg')
          figcaption
            h2 Finibus
            p In International News
            a(href='#')
        .panel.panel-default
          .panel-body-small by 
              a(href='#') John Doe
              .pull-right 12 
                i.fa.fa-comment
                |   302 
                i.fa.fa-heart
      .col-md-4
        figure.magazine-fig.magazine-fig-small
          img(src='img/header-bg-4.jpg')
          figcaption
            h2 Vestibulum
            p In International News
            a(href='#')
        .panel.panel-default
          .panel-body-small by 
              a(href='#') John Doe
              .pull-right 12 
                i.fa.fa-comment
                |   302 
                i.fa.fa-heart
      .col-md-4
        figure.magazine-fig.magazine-fig-small
          img(src='img/header-bg-1.jpg')
          figcaption
            h2 Nulla elit
            p In International News
            a(href='#')
        .panel.panel-default
          .panel-body-small by 
              a(href='#') John Doe
              .pull-right 12 
                i.fa.fa-comment
                |   302 
                i.fa.fa-heart
    .row
      .col-md-6
        figure.magazine-fig
          img(src='img/header-bg-3.jpg')
          figcaption
            h2 Eu pharetra consequat gravida lectus nunc.
            p In International News
            a(href='#')
        .panel.panel-default
          .panel-body-small by 
              a(href='#') John Doe
              .pull-right 12 
                i.fa.fa-comment
                |   302 
                i.fa.fa-heart
      .col-md-6
        figure.magazine-fig
          img(src='img/header-bg-4.jpg')
          figcaption
            h2 Sit suspendisse lectus ipsum id arcu.
            p In International News
            a(href='#')
        .panel.panel-default
          .panel-body-small by 
              a(href='#') John Doe
              .pull-right 12 
                i.fa.fa-comment
                |   302 
                i.fa.fa-heart

    ul.pager
      li.previous
        a(href='#') Older
      li.next
        a(href='#') Newer