doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    block head
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') lym
            strong UI
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#') Link
            li
              a(href='#') Link
            li.disabled
              a(href='#') Link
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li.active
                  a(href='#') Link
                li
                  a(href='#') Link
                li.divider
                li
                  a(href='#') Link
                li.divider
                li.disabled
                  a(href='#') Link



    block body

    footer
      .container
        small
          | Made by 
          a(href='mailto:leon@makes.coffee') Leon Koole
          .pull-right © lym
            strong UI
    //- UI.min.js can be replaced with any Bootstrap 3 JS to add or remove components
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='js/UI.min.js')