doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    block head
  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://lym.io/UI/') lym
            strong UI
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='/') Home
            li
              a(href='elements.html') Elements
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Magazine
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='mag-index.html') Index
                li.divider
                li
                  a(href='mag-article.html') Article
                li
                  a(href='mag-article_image.html') Article - Image
                li.divider
                li.disabled
                  a(href='archive.html') Archive
    block body
    footer
      .footer-top.light-gray-bg
        .container
          .col-md-3
            h4 Crystals
            ul.list-unstyled
              li: a(href='#') Aquamarine
              li: a(href='#') Kyanzite
              li: a(href='#') Fluorite
              li: a(href='#') Labradorite
              li: a(href='#') Amber
              li: a(href='#') Iolite
          .col-md-3
            h4 Crystals
            ul.list-unstyled
              li: a(href='#') Aquamarine
              li: a(href='#') Kyanzite
              li: a(href='#') Fluorite
              li: a(href='#') Labradorite
              li: a(href='#') Amber
              li: a(href='#') Iolite
          .col-md-3
            h4 Crystals
            ul.list-unstyled
              li: a(href='#') Aquamarine
              li: a(href='#') Kyanzite
              li: a(href='#') Fluorite
              li: a(href='#') Labradorite
              li: a(href='#') Amber
              li: a(href='#') Iolite
          .col-md-3
            h4 Crystals
            ul.list-unstyled
              li: a(href='#') Aquamarine
              li: a(href='#') Kyanzite
              li: a(href='#') Fluorite
              li: a(href='#') Labradorite
              li: a(href='#') Amber
              li: a(href='#') Iolite
      .footer-bottom.gray-bg
        .container
          small
            | Made by 
            a(href='mailto:leon@makes.coffee') Leon Koole
            .pull-right © lym
              strong UI
    //- UI.min.js can be replaced with any Bootstrap 3 JS to add or remove components
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='js/UI.min.js')
    //- These two scripts need to be removed in production.
    script(src='js/perfbar.js')
    script(type='text/javascript').
      perfBar.init({
        budget: {
          max: 10,
          min: 1x
        }
      });
    block footer