// ==========================================================================
// lymUI – Header
// ==========================================================================

header {
	padding: 50px;
	padding-left: 0px;
	padding-top: 100px;
	font-family: @heading-font-family;
	.title {
		.font-size(@h1);
		font-weight: bold;
		padding-bottom: 10px;
	}
	.subtitle {
		.font-size(@h4);
	}
}