//
// Loaders
// --------------------------------------------------
.loader-dots, .loader-dots::before, .loader-dots::after {
  background-color: @gray-lighter;
  display: block;
  content: ' ';
  position: relative;
  width: @loader-size;
  height: @loader-size;
  left: 0px;
  border-radius: 50%;
  -webkit-animation: loader-dots @loader-time ease infinite;
  animation: loader-dots @loader-time ease infinite;
}
.loader-dots::before {
  left: (@loader-size+@loader-spacing);
  -webkit-animation-delay: (@loader-time / 3);
  animation-delay: (@loader-time / 3);
}
.loader-dots::after {
  left: 2*(@loader-size+@loader-spacing);
  top: -@loader-size;
  -webkit-animation-delay: 2*(@loader-time / 3);
  animation-delay: 2*(@loader-time / 3);
}

@-webkit-keyframes loader-dots {
  0% {
    background-color: @gray-lighter;
  }
  15%{
    background-color: @brand-primary;
  }
  50% {
    background-color: @gray-lighter;
  }
}

@keyframes loader-dots {
  0% {
    background-color: @gray-lighter;
  }
  15%{
    background-color: @brand-primary;
  }
  50% {
    background-color: @gray-lighter;
  }
}

.loader-dots-sec, .loader-dots-sec::before, .loader-dots-sec::after {
  background-color: @gray-lighter;
  display: block;
  content: ' ';
  position: relative;
  width: @loader-size;
  height: @loader-size;
  left: 0px;
  border-radius: 50%;
  -webkit-animation: loader-dots-sec @loader-time ease infinite;
  animation: loader-dots-sec @loader-time ease infinite;
}
.loader-dots-sec::before {
  left: (@loader-size+@loader-spacing);
  -webkit-animation-delay: (@loader-time / 3);
  animation-delay: (@loader-time / 3);
}
.loader-dots-sec::after {
  left: 2*(@loader-size+@loader-spacing);
  top: -@loader-size;
  -webkit-animation-delay: 2*(@loader-time / 3);
  animation-delay: 2*(@loader-time / 3);
}

@-webkit-keyframes loader-dots-sec {
  0% {
    background-color: @gray-lighter;
  }
  15%{
    background-color: @brand-secondary;
  }
  70% {
    background-color: @gray-lighter;
  }
}

@keyframes loader-dots-sec {
  0% {
    background-color: @gray-lighter;
  }
  15%{
    background-color: @brand-secondary;
  }
  70% {
    background-color: @gray-lighter;
  }
}