//
// Loaders
// --------------------------------------------------
.loader-dots, .loader-dots::before, .loader-dots::after {
  background-color: @gray-lighter;
  display: block;
  content: ' ';
  position: relative;
  width: 30px;
  height: 30px;
  left: 0px;
  border-radius: 50%;
  -webkit-animation: loader-dots 3s ease infinite;
  animation: loader-dots 3s ease infinite;
}
.loader-dots::before {
  left: 40px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.loader-dots::after {
  left: 80px;
  top: -30px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes loader-dots {
  0% {
    background-color: @gray-lighter;
  }
  15%{
    background-color: @brand-primary;
  }
  50% {
    background-color: @gray-lighter;
  }
}

@keyframes loader-dots {
  0% {
    background-color: @gray-lighter;
  }
  15%{
    background-color: @brand-primary;
  }
  50% {
    background-color: @gray-lighter;
  }
}

.loader-dots-sec, .loader-dots-sec::before, .loader-dots-sec::after {
  background-color: @gray-lighter;
  display: block;
  content: ' ';
  position: relative;
  width: 30px;
  height: 30px;
  left: 0px;
  border-radius: 50%;
  -webkit-animation: loader-dots-sec 3s ease infinite;
  animation: loader-dots-sec 3s ease infinite;
}
.loader-dots-sec::before {
  left: 40px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.loader-dots-sec::after {
  left: 80px;
  top: -30px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes loader-dots-sec {
  0% {
    background-color: @gray-lighter;
  }
  15%{
    background-color: @brand-secondary;
  }
  70% {
    background-color: @gray-lighter;
  }
}

@keyframes loader-dots-sec {
  0% {
    background-color: @gray-lighter;
  }
  15%{
    background-color: @brand-secondary;
  }
  70% {
    background-color: @gray-lighter;
  }
}