// ==========================================================================
// lymUI – Panels
// ==========================================================================

.panel {
	color: @default-font-color;
	background-color: #fff;
	border: 1px solid @gray-med;
	border-radius: @border-radius;
	padding: 1em;
	display: block;
	p {
		margin-top: 2em;
	}
	a {
		color: inherit;
		font-size: 1.3em;
		font-weight: bold;
	}
	&:hover{	
		color: #fff;
		background-color: @gray-dark;
		a {
			color: inherit;
		}

	}
}