//
// Utilities only needed for the UI demo website
// --------------------------------------------------

.home-logo {
  .smile {
    background-color: #f4f4f4;
    display: inline-block;
    position: relative;
    width: 85px;
    height: 0px;
    margin-bottom: 43px;
    margin-left: -150px;
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }
  &:hover {
    .smile {
      -webkit-transition: height 0.2s;
      transition: height 0.2s;
      height: 20px;
    }
  }
}

.home-box {
  .border-top-radius(@border-radius-base);
  background-color: @gray;
  color: #fff;
  padding: 2em;
  p {
    font-size: 2em;
  }
  .fa {
    font-size: 5em;
  }
}

.home-box-active {
  background-color: @brand-primary;
}

.home-box-list .list-group-item:first-child {
  .border-top-radius(0);
}