// ==========================================================================
// Base – Global Variables
// ==========================================================================

// Container Defaults
@mobile-container:   100%;
@tablet-container:   720px;
@desktop-container:  1200px;


// Resonsive Design Break Points
@mobile-breakpoint:  (@tablet-container + 19px);
@tablet-breakpoint:  (@tablet-container + 20px);
@desktop-breakpoint: (@desktop-container);

// Default Fonts
@heading-font-family:		'Montserrat', sans-serif;
@default-font-family:       'Open Sans', sans-serif;
@default-code-font-family:  'courier new', monospace, serif;

// Font Size Defaults
@h1: 40;
@h2: 32;
@h3: 26;
@h4: 20;
@h5: 18;
@h6: 16;

@default-font-size:   18;
@default-line-height: 21;


// Default Colours
@default: 					@blue;
@default-dark:				@blue-dark;
@default-color:				@blue-color;

@gray-light:				#fff;
@gray-light-dark:			#bdc3c7;
@gray-light-color:			@default-font-color;

@gray-med:				  	#666c73;
@gray-med-dark:				#4a5057;
@gray-med-color:			#FFF;

@gray-dark:					#17191c;
@gray-dark-dark:			#1e2228;
@gray-dark-color:			#FFF;

@blue:       			  	#3498db;
@blue-dark:  	  			#44a3c6;
@blue-color:				#FFF;

@aqua:						#46bf9b;
@aqua-dark:					#39ac8d;
@aqua-color:				#FFF;

@red:						#e33e3e;
@red-dark:					#d63131;
@red-color:					#FFF;

@yellow:					#ffd146;
@yellow-dark:				#f3c435;
@yellow-color:				#FFF;

@green:						#7fbf46;
@green-dark:				#71ae3b;
@green-color:				#FFF;



@default-font-color:        #3d3d3d;
@default-link-color:        @default-color;


@border-radius:					0px;